.navbar {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  box-sizing: border-box;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  cursor: pointer;
  font-size: 16px;
}

.navbar-links li:hover {
  text-decoration: underline;
}

.navbar-links a {
  color: black;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar {
  width: 100vw;
  height: 60px;
  background-color: white;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
}
